@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&display=swap');

html {
    font-size: 16px;
}

body {
    font-weight: 400;
    font-family: Inter, sans-serif;
}